<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Combobox</title>
  <link rel="stylesheet" href="/css/main.css" type="text/css">
</head>

<body>
  <div class="row">
    <div class="combobox">
      <div class="input">
        <label class="input__label">Tỉnh/Thành Phố</label>
        <div class="input__text">
          <input class="input__text-field" type="text" placeholder="Type here">
        </div>
        <div class="icon-button">
          <div class="icon-container">
            <div class="icon-arrow-down-black"></div>
          </div>
        </div>
      </div>

      <div class="combobox__menu">
        <div class="combobox__menu-guide"> - Chọn giá trị -
        </div>
        <div class="item">Hà Nội
          <div class="icon-container">
            <div class="icon-check-green"></div>
          </div>
        </div>
        <div class="item">Đà Nẵng
          <div class="icon-container">
            <div class="icon-check-green"></div>
          </div>
        </div>
        <div class="item">TP.HCM
          <div class="icon-container">
            <div class="icon-check-green"></div>
          </div>
        </div>
        <div class="item">Hòa Bình
          <div class="icon-container">
            <div class="icon-check-green"></div>
          </div>
        </div>
        <div class="item">Hưng Yên
          <div class="icon-container">
            <div class="icon-check-green"></div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <script src="/js/combobox.js"></script>
</body>

</html>