<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Calendarify.js Date Picker Example</title>

  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>

  <div class="row">
    <div class="input-date">
      <label class="input__label" for="warter-mark">Field normal label</label>

      <div class="input__text">
        <input class="input__text--field" type="text" id="warter-mark" placeholder="Watermark..." />
        <div class="icon-container">
          <div class="icon-date"></div>
        </div>
      </div>

      <div class="date-picker__popup">

        <div class="icon-container">
          <div class="icon-arrow-down"></div>
        </div>
      </div>
    </div>
  </div>



</body>

</html>