<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dropdown list</title>
  <link rel="stylesheet" href="/css/main.css" type="text/css">
</head>

<body>
  <div class="row">
    <div class="dropdownlist">
      <label class="dropdownlist__label">Tỉnh/Thành Phố</label>


      <div class="dropdownlist__text">
        <input class="dropdownlist__text--field" type="text" placeholder="Type here">
        <div class="dropdownlist-button">
          <div class="icon-arrow-down"></div>
        </div>
      </div>



      <div class="dropdownlist__menu">
        <div class="dropdownlist__menu-guide"> - Chọn giá trị -
          <img class="dropdownlist__menu--icon-checked" width="15" height="15" src="/assets/icon/check-green.svg" alt="Icon check green">
        </div>
        <div class="item">Hà Nội
          <img class="dropdownlist__menu--icon-checked" width="15" height="15" src="/assets/icon/check-green.svg" alt="Icon check green">
        </div>
        <div class="item">Đà Nẵng
          <img class="dropdownlist__menu--icon-checked" width="15" height="15" src="/assets/icon/check-green.svg" alt="Icon check green">
        </div>
        <div class="item">TP.HCM
          <img class="dropdownlist__menu--icon-checked" width="15" height="15" src="/assets/icon/check-green.svg" alt="Icon check green">
        </div>
        <div class="item">Hòa Bình
          <img class="dropdownlist__menu--icon-checked" width="15" height="15" src="/assets/icon/check-green.svg" alt="Icon check green">
        </div>
        <div class="item">Hưng Yên
          <img class="dropdownlist__menu--icon-checked" width="15" height="15" src="/assets/icon/check-green.svg" alt="Icon check green">
        </div>
      </div>

    </div>
  </div>

  <script src="/js/dropdownlist.js"></script>
</body>

</html>