<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css" type="text/css">
  <title>Popup</title>
</head>

<body>
  <div class="popup">
    <div class="popup__header">
      <h1>Đăng ký tài khoản</h1>
      <img src="/assets/icon/x.svg" alt="Thoát đăng ký tài khoản">
    </div>

    <div class="popup__guide ">
      Vui lòng điền các thông tin dưới đây để hoàn
    </div>

    <div class="input">
      <label class="input__label" for="warter-mark">Field normal label</label>
      <div class="input__text">
        <input class="input__text--field" type="text" placeholder="Watermark..." />
      </div>
    </div>

    <div class="popup__text">
      <div class="popup__text--label">
        Họ và tên <span class="required">*</span>
        <!-- <div class="popup__text--required">Bắt buộc</div>
        <div class="popup__text--not-required">Không bắt buộc</div> -->
      </div>
      <input class="popup__text--field" type="text" placeholder="Họ và tên đầy đủ" />

    </div>

    <div class="popup__text">
      <div class="popup__text--label">
        Giới tính
      </div>
      <label>
        <input name="gender" type="radio" value="1" checked /> Nam
      </label>
      <label>
        <input name="gender" type="radio" value="0" /> Nữ
      </label>
    </div>

    <div class="popup__text">
      <div class="popup__text--label">
        Ngày sinh <span class="required">*</span>
      </div>
      <input class="popup__text--field" type="text" placeholder="dd/MM/yyyy" />
    </div>

    <div class="popup__text">
      <div class="popup__text--label">
        Địa chỉ email
      </div>
      <input class="popup__text--field" type="text" placeholder="example@email.com" />
    </div>

    <div class="popup__footer">
      <button class="extra-button">Hủy</button>
      <button class="main-button">Đăng ký</button>
    </div>

  </div>

</body>

</html>