<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Text field</title>
  <link rel="stylesheet" href="/css/main.css" type="text/css">
</head>

<body>

  <div class="row">
    <div class="input">
      <label class="input__label">Field normal label</label>
      <div class="input__text">
        <input class="input__text-field" type="text" placeholder="Watermark..." />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="input">
      <label class="input__label">Invalid</label>
      <div class="input__text">
        <input class="input__text-field input__text-field--invalid" type="text" placeholder="Watermark..." />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="input-search">
      <label class="input__label">Field label</label>
      <div class="input__text">
        <input class="input__text-field" type="text" placeholder="Watermark..." />

        <div class="icon-container">
          <div class="icon-search-black"></div>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="input-verifying">

      <label class="input__label">Field label</label>

      <div class="input__text">

        <input class="input__text-field" type="text" placeholder="Some things..." />

        <div class="icon-container">
          <div class="icon-refresh-green rotate"></div>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="input-verified">

      <label class="input__label">Field label</label>

      <div class="input__text">

        <input class="input__text-field" type="text" placeholder="misa.amis.vn" />

        <div class="icon-container">
          <div class="icon-check-green"></div>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="input">
      <div class="input__label">
        Giới tính
      </div>
      <label>
        <input name="gender" type="radio" value="1" checked /> Nam
      </label>
      <label>
        <input name="gender" type="radio" value="0" /> Nữ
      </label>
    </div>
  </div>

</body>

</html>