.combobox {
  position: relative;
  width: fit-content;

  .icon-button {
    position: absolute;
    top: 25px;
    left: 134px;
    width: 40px;
    height: 36px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;

    &:active {
      background-color: rgba(0, 0, 0, 0);
    }
  }

  .combobox__menu {
    position: absolute;
    top: 61px;
    left: 0px;
    background-color: white;
    display: none;
    width: 168px;
    padding: 4px;
    border-radius: var(--border-radius);
    box-shadow: 0px 7px 8px 1px gray;

    >.item {
      position: relative;
      padding: 10.5px;
      border-radius: var(--border-radius);
      display: flex;
      justify-content: space-between;

      .icon-container {
        visibility: hidden;
      }

      &:hover {
        background-color: var(--color-light-green-200);
      }
    }

    .combobox__menu-guide {
      display: flex;
      justify-content: space-between;
      position: relative;
      color: var(--color-light-green-300);
      padding: 10.5px;
      border-radius: var(--border-radius);
    }

    .combobox__menu-guide .icon-container {
      visibility: visible;
    }
  }

  &:hover .combobox__menu {
    display: block;
  }
}