.input-date {
    position: relative;

    .input__text {
        --input-width: 140px;
    }

    .date-picker__popup {
        background-color: orchid;
        width: 320px;
        height: 351px;
        position: absolute;
        top: 80px;
        left: 80px;
    }

}