.popup__employeedetail {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 98;

    .popup {
        --popup-width: 862px;
        --popup-height: 690px;

        .popup__body {
            display: grid;
            grid-template-columns: calc(50% - 12px) calc(50% - 12px);
            gap: 24px;
            background-color: white;

            .popup__sub-body {
                &:nth-child(1) {

                    .input {
                        &:nth-child(1) {
                            float: left;
                            --input-width: calc(var(--popup-width) - 720px);
                            margin-right: 12px;
                        }

                        &:nth-child(2) {
                            float: left;
                            --input-width: calc(var(--popup-width) - 631px);
                        }

                        &:nth-child(3) {
                            clear: both;
                            --input-width: 100%;
                        }

                        &:nth-child(4) {
                            --input-width: 100%;
                        }
                    }
                }

                &:nth-child(2) {

                    .input,
                    .input-date {
                        &:nth-child(1) {
                            float: left;
                            --input-width: calc(var(--popup-width) - 720px);
                            margin-right: 12px;
                        }

                        &:nth-child(2) {
                            float: left;
                            --input-width: calc(var(--popup-width) - 640px);
                        }

                        &:nth-child(3) {
                            margin-right: 12px;
                            float: left;
                            --input-width: calc(var(--popup-width) - 654px);
                        }

                        &:nth-child(4) {
                            float: left;
                            --input-width: calc(var(--popup-width) - 696px);
                        }

                        &:nth-child(5) {
                            clear: both;
                            --input-width: 100%;
                        }
                    }
                }

                &:nth-child(3) {
                    grid-column-end: span 2;

                    .input {
                        &:nth-child(1) {
                            --input-width: 100%;
                        }

                        &:nth-child(2) {
                            margin-right: 12px;
                            float: left;
                            --input-width: calc(var(--popup-width) - 654px);
                        }

                        &:nth-child(3) {
                            margin-right: 12px;
                            float: left;
                            --input-width: calc(var(--popup-width) - 654px);
                        }

                        &:nth-child(4) {
                            margin-right: 12px;
                            float: left;
                            --input-width: calc(var(--popup-width) - 654px);
                        }

                        &:nth-child(5) {
                            margin-right: 12px;
                            float: left;
                            --input-width: calc(var(--popup-width) - 654px);
                        }

                        &:nth-child(6) {
                            margin-right: 12px;
                            float: left;
                            --input-width: calc(var(--popup-width) - 654px);
                        }

                        &:nth-child(7) {
                            margin-right: 12px;
                            float: left;
                            --input-width: calc(var(--popup-width) - 654px);
                        }

                    }
                }
            }
        }


        .popup__footer {

            .extra-button {
                left: calc(var(--popup-width) - 214px);
            }

            .main-button {
                left: calc(var(--popup-width) - 124px);
                width: 100px;
            }
        }
    }
}