table.table {
  border-collapse: collapse;

  th,
  td {
    border: 1px #e0e0e0 solid;
    padding: 12px;
  }

  th {
    position: sticky;
    top: -1px;
    z-index: 10;
    background-color: #eeeeee;
  }

  tr:hover {
    background-color: #eeeeee;
  }
}

.table__footer {
  --table-footer-width: 97%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  width: var(--table-footer-width);

  position: absolute;
  top: calc(100vh - 105px);

  left: 24px;

  .table__footer--left {
    display: inline-block;

    .table__numrows {
      padding-left: 15px;
    }

  }

  .table__footer--right {
    display: flex;
    align-items: center;

    p {
      margin-right: 4px;
    }

    .table__maxrow {

      margin-right: 16px;

      .dropdownlist {
        --input-width: 70px;
        --input-height: 26px;

        * {
          font-size: 12px !important;
        }

        .dropdownlist__text {
          --margin-top: 0px;
        }
      }
    }

    .table__recordnumber {
      margin-right: 16px;
    }


  }
}