table.table,
.table th,
.table td {
  border: 1px #e0e0e0 solid;
  border-collapse: collapse;
}

.table td,
.table th {
  padding: 12px;
}

.table th {
  background-color: #eeeeee;
}

.table tr:hover {
  background-color: #eeeeee;
}
.table__footer {
  padding: 0px;
}
.table__footer > div {
  display: inline-block;
  margin: 0px 20px 0px 10px;
  padding: 0px;
}

.table__recordnumber {
  float: right;
}
